*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#F9E8E7;

color:#111;

padding:40px;

}

header{

display:flex;

justify-content:space-between;

margin-bottom:30px;

}

nav a{

margin-left:30px;

text-decoration:none;

color:black;

font-weight:500;

}

.container{

display:grid;

grid-template-columns:2fr 1.2fr 1.3fr;

gap:20px;

}

.container section{

background:#F7D7D5;

border-radius:20px;

padding:30px;

}

.hero{

height:400px;

display:flex;

flex-direction:column;

justify-content:center;

}

.hero h1{

font-size:58px;

line-height:65px;

}

.hero span{

font-weight:800;

}

.hero p{

margin-top:20px;

font-size:18px;

}

.image{

display:flex;

align-items:center;

justify-content:center;

}

.image img{

width:100%;

border-radius:20px;

}

.projects-menu ul{

list-style:none;

margin-top:30px;

}

.projects-menu li{

padding:25px 0;

border-bottom:1px solid #d6a9a9;

font-size:22px;

}

.about{

height:280px;

}

.contact-card{

background:#F4A9A2 !important;

display:flex;

flex-direction:column;

justify-content:space-between;

}

.contact-card h2{

font-size:45px;

}

.contact-card a{

text-decoration:none;

color:black;

font-weight:600;

}

.skills{

display:flex;

flex-wrap:wrap;

gap:15px;

}

.skill-box{

background:white;

padding:12px 20px;

border-radius:30px;

}

.education .edu{

margin:25px 0;

}

.project-section{

grid-column:1/4;

}

.card{

background:white;

padding:20px;

border-radius:15px;

margin:20px 0;

}

.certificates{

grid-column:1/4;

}

footer{

grid-column:1/4;

text-align:center;

}